<app-header titulo="cards"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
        <ion-item color="medium">
            <ion-icon slot="start" name="pin-outline"></ion-icon>
            <ion-label>Otro Titulo</ion-label>
        </ion-item>
        <ion-card-header>
            <ion-card-subtitle color="success">Belo Horizonte</ion-card-subtitle>
            <ion-card-title color="primary">Brasil 2014</ion-card-title>
        </ion-card-header>
        <ion-img src="/assets/20140621_105143.jpg"></ion-img>
        <ion-card-content>
            Antes de entrar al estadio de Belo Horizonte en Brasil 2014
        </ion-card-content>
    </ion-card>
</ion-content>